* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100vw;
    background-color: #FFD900;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-container {
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
}

.info-apresentation {
    width: 800px;
    background-color: #514988;
    padding: 40px 40px 69px 40px;
    text-align: center;
    justify-content: center;
}

.info-apresentation h1 {
    color: #F3C61F;
    text-align: center;
    font-family: Verdana;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.info-apresentation h2 {
    color: #FFF;
    font-family: Verdana;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.info-apresentation p {
    color: #FFF;
    text-align: center;
    font-family: Verdana;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-countdown {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: end;
    text-align: center;
}

.timer {
    display: flex;
    color: #514988;
    justify-content: center;
    column-gap: 50px;
    text-align: center;
    font-family: Verdana;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p-countdown {
    color: #E33881;
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards-container {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cards-container button {
    width: 596px;
    height: 148px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #514988;
    color: #FFF;
    text-align: center;
    font-family: Verdana;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.cards {
    padding-left: 20px;
}

.cards p {
    color: #F3C61F;
    text-align: start;
    font-family: Verdana;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 19px;
    margin-bottom: 20px;
}

.card-highlight {
    transform: scale(1.1);
    transition-duration: 0.4s;
}

@media only screen and (max-width: 600px) {
    
    header {
        width: 100vw;
        padding: 0;
    }

    header img {
        width: 50vw;
        margin: 10px 0px 10px 10px
    }

    .info-container {
        width: 100vw;
        grid-auto-flow: row;
    }

    .info-apresentation {
        width: 100vw;
        padding: 0;
    }

    .info-apresentation h1 {
        font-size: 10vw;
        margin: 10px 0px 10px 0px;
    }

    .info-apresentation h2 {
        font-size: 7vw;
        margin: 0px 0px 10px 0px;
    }

    .info-apresentation p {
        font-size: 5vw;
        word-break: break-word;
        margin: 0px 10px 10px 10px;
    }

    .timer {
        font-size: 5vw;
        column-gap: 7vw;
        margin-top: 10px;
    }

    .p-countdown {
        font-size: 6vw;
        margin: 10px 10px 10px 10px;
    }

    .cards-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .cards-img {
        display: grid; 
        grid-auto-flow: column;
        grid-auto-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 0px; 
        justify-items: center;
        align-items: center;
    }

    .cards-img img{
        width: 50vw;
    }

    .cards {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .cards p {
        text-align: center;
        padding: 10px;
        font-size: 6vw;
        word-break: break-all;
    }

    .cards-container button {
        margin-top: 20px;
        width: 85vw;
        height: 10vh;
        font-size: 7vw;
    }
}
