@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    /* Cores Padrão */
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;

    /* Fonte Padrão */
    --fonte-padrao: 'Inter';
}


body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.50) 19.91%, rgba(12, 112, 242, 0.00) 24.84%), #303030;
    background-repeat: no-repeat;
}

/* Menu de Navegação Principal */
#principal {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto-dnc);
    border-bottom: 1px solid #BABABA;
}

#menu {
    display: flex;
    width: 55%;
    justify-content: start;
    gap: 50px;
    align-items: center;
    margin-left: 4%;
}

#principal div a {        
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#principal div a:hover {
    color: var(--cinza-hover);
}

#principal button {
    width: 80px;
    height: 39px;
    margin-right: 4%;
    cursor: pointer;
    border: none;
    background: var(--azul-dnc);
    box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.25);
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Header */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

header {
    color: white;
    font-family: var(--fonte-padrao);
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
}

header p {
    font-size: 40px;
    font-weight: 700;
}

header .mark {
    background-color: black;
    font-weight: 700;
    font-weight: bold;
    padding: 5px;
}

/* Formulario */
form {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    font-weight: 600px;
    width: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input {
    border: 0;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}

form input::placeholder {
    color: rgba(57, 57, 57, 0.50);;
}

form label {
    margin: 10px 0px 10px 0px;
}

.checkbox-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-items div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-items div input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0;
    margin-left: 1px;
}

.checkbox-items div label {
    font-size: 25px;
    margin: 0;
}

form input[type="submit"] {
    background-color: var(--azul-dnc);
    width: 100%;
    height: 56px;
    color: white;
    font-size: 32px;
    margin-top: 100px;
    box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}